/*  global element */

.FeastEase{
    font-family: 'Inter',sans-serif;
    color: #44B250;
    flex-basis: 100%;
}
.Feast{
    font-weight: 400;
}
.Ease{
    font-weight: 1000;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    display: flex;
}

a[href="checkout.html"]{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*      Header    Header    Header      Header      Header */
.container-header{
    z-index: 10;
    position: fixed;
    display: flex;

    background-color:white;
    margin: 0px;

    top: 0px;
    left: 0px;
    right: 0px;
    
    min-height: 11vh;
    justify-content: center;

    border-bottom: 1px solid black;
}
.header-sub_container1{
    flex-grow: 0;
    font-size: 35px;
    display: flex;
    align-items: center;
    font-family: 'Inter',sans-serif;
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;

    flex-grow: 0;
    flex-basis: 39%;

    max-height: 70px;
    
}

.Feast-header{
    font-weight: 100;
    color: #44B250;
    margin-left: 2vw;
}
.Ease-header{
    font-weight: 1000;
    color: #44B250;
}

.header-sub_container2{
    flex-grow: 0;
    flex-basis: 61%;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: row;

    max-height: 90px;

    margin-top: 5px;
    margin-bottom: 5px;
}

.header-sub_container2 div{
    flex-grow: 0;
    display: flex;
    
    flex-basis: 25%;
    margin-right: 1px;

    justify-content: center;
}

.header-sub_container2 img[alt="download app"]{
    max-width: 120px;
    max-height: 100px;

    margin-top: 5px;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    display: flex;
}

a[href="checkout.html"]{
    display: flex;
    align-items: center;
    justify-content: center;
}
a[href="login.html"]{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-sub_container2 img[alt="cart"]{
    max-width: 90px;
    max-height: 60px;

    margin-top: 5px;
    margin-bottom: 5px;
}

.header-sub_container2 img[alt="news"]{
    max-width: 80px;
    max-height: 50px;

    margin-top: 10px;
    margin-bottom: 10px;
}
.download-app-header{
    cursor: pointer;
}

.account-header{
    border-left: 1px solid black;
    align-items: center;
}
.account-dropdown{
    align-items: center;
    cursor: pointer;
}
.account-dropdown img[alt="account"]{
    width: 9vw;
    height: 5vh;
    margin-right: 0.1vw;
}
.account-dropdown img[alt="dropdown"]{
    width: 1.5vw;
    height: 2vh;
}

.header-sub_container2 img[alt="account"]{
    
    max-width: 80px;
    max-height: 50px;

    margin-top: 5px;
    margin-bottom: 5px;

}
/*  login pop   */

.loginPop{
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    right: 2%;
    top: 11%;
    
    width: 20vw;
    height: 35vh;
    z-index: 15;
}
.login_split{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    font-family: 'Inter',sans-serif;
}
.login_split:hover{
    background-color: #44B250;
    color: white;
}
.split1,.split2,.split3,.split4{
    border-bottom: 0.1px solid #DBDBDB;
}
.login_split span{
    cursor: pointer;
    font-size: 1.3vw;
}
/*  lokasi & waktu & tanggal */

.place_time-container{
    
    margin-top: 65px;
    top: 66px;
    left: 0px;
    right: 0px;

    display: flex;
    flex-direction:column;
    justify-content: center;

    min-height: 10vh;

    background-color: white;
}
.place_time-sub_container1,.place_time-sub_container2{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-basis: 50%;
    justify-content: center;
}
.place_time-sub_container1{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.place_time-sub_container2{
    margin-bottom: 20px;
}
.centerize,.centerize1{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    min-width: 75vw;
    
}

/* Lokasi , lunch/dinner  */
.lunch_dinner{
    display: flex;
    
    flex-basis: 70%;
    justify-content: center;
}

.lokasi,.lunch,.dinner{
    flex-grow: 0;
    display: flex;
    

    align-items: center;
    justify-content: center;

    font-family: 'Inter',sans-serif;
}

.lokasi{
    
    justify-content: flex-end;
    margin-right: 5px;
    flex-basis: 30%;
}
.lokasi_content{
    font-weight: 1000;
    font-size: 16px;
}

.helper_containerK{
    margin: 0px;
}

img[alt="dropdown"]{
    min-width: 0.5vw;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.lunch{
    margin-left: 5px;
    margin-right: 5px;
}

.button_lunch,.button_dinner{
    min-height: 35px;
    min-width: 25vw;

    border-radius: 10px;
    cursor: pointer;
}
.button_lunch{
    background-color: white;
    border: 1px solid black;
}
.button_lunch:hover{
    background-color: #44B250;
    border: none;
}
.button_dinner{
    background-color: #44B250;
    border: none;
}
.button_dinner:hover{
    background-color: white;
    border: 1px solid black;
}

/*   Tanggal/waktu   */

.tanggal.hidden{
    display: none;
}

.tanggal,.tanggal1{
    display: flex;
    flex-grow: 0;
    flex-basis: 6.66666667%;
    
    justify-content: center;
}
.tanggal_content{
    font-family: 'Inter',sans-serif;
    border: 1px solid black;
    width: 5vw;
    margin: 5px;
    align-items: center;
    text-align: center;

    cursor: pointer;

    border-radius: 15px;
}
.tanggal_content:hover{
    background-color: #44B250;
    color: black;

}

.helper_container{
    margin-top: 10px;
    font-size: 16px;
}
img[alt="drop down point right"]{
    transform: rotate(-90deg);
    margin-top: 15px;
}

/*  background control */
.background-chef{
    background-image: url("./asset_responsive/background\ chef\ with\ shade-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.background-sehat{
    background-image: url("./asset_responsive/banner\ buah\ with\ shade-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img-gone{
    flex-basis: 60%;
}
.helper1{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-chef{
    flex-grow: 0;
    font-size: 2.4vw;
    font-family: 'Inter',sans-serif;
    color: white;
    font-weight: 1000;
}


/*  menu container */
.menu-container {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .banner {
    background-color: #44B250;
    display: flex;
    flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .menu-content-container {
    display: flex;
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 20px;
  }
  
  .banner, .menu-content-container {
    justify-content: center;
    align-items: center;
  }
  
  /* Center1/2 */
  .center1{
    display: flex;
    height: 50vh;
    width: 87vw;
  }

  .center2{
    display: flex;
    height: 80vh;
    width: 87vw;
  }

  /* banner img */

  .banner-img,.helper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
  }
  .banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
  }
  img[alt="ojol gendut"]{
    width: 50vw;
    height: 50vh;
    flex-grow: 0;
  }

  .helper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner-title{
    color: white;
    font-size: 2.1vw;
    font-weight: 1000;
    font-family: 'Inter',sans-serif;
    margin-bottom: 5px;
    margin-left: 10px;
    flex-grow: 0;
  }

  .sub_contaienr-left,.sub_contaienr-right{
    display: flex;
    
    flex-direction: column;
  }
  .sub_contaienr-left{
    flex-basis: 85%;
    margin-top: 12px;
  }
  .sub_contaienr-right{
    flex-basis: 15%;
    justify-content: center;
  }
  .divided{
    display: flex;
    flex-basis: 50%;
    
    flex-direction: row;
  }

  .menu-content{
    display: flex;
    flex-basis: 25%;
    border: 1px solid black;
    flex-direction: column;
    margin: 4px;
    border-radius: 25px;
  }
  .menu-content:hover{
    cursor: pointer;
    background-color: #44B250;
  }
  .gambar-makanan{
    display: flex;
    flex-basis: 80%;
    
    align-items: center;
    justify-content: center;
  }
  .gambar-makanan img{
    flex-grow: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
  }
  .info-makanan{
    display: flex;
    flex-basis: 20%;
    
    
    margin: 5px;
    margin-top: 2px;
    font-family: 'Inter',sans-serif;
    flex-grow: 0;
  }
  .sisi_kanan{
    
    flex-basis: 65%;
    margin-left: 7px;
    flex-grow: 0;
  }
  .atas{
    font-weight: 1000;
    font-size: 1.1vw;
  }
  .sisi_kiri{
    
    flex-basis: 35%;
    flex-grow: 0;
    text-align: end;
    margin-right: 7px;
  }
  .bawah{
    font-weight: 400;
    font-size: 0.9vw;
  }

  .further{
    flex-grow: 0;
    display: flex;
    flex-basis: 25%;
    
    justify-content: center;
    align-items: center;
  }
  .further_sub-container{
    flex-grow: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 9vw;
    height: 13vh;
    border-radius: 19px;
    justify-content: center;
    cursor: pointer;
  }
  .further_sub-container:hover{
    background-color: #44B250;
  }
  .lihat_Menu_lainnya{
    margin-top: 15px;
    flex-basis: 60%;
    
    text-align: center;
    line-height: 1;
    font-family: 'Inter',sans-serif;
    font-size: 1.2vw;
    justify-content: center;
    font-weight: 1000;
  }
  .lingkaran_arrow{
    flex-basis: 40%;
    flex-grow: 0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 2px;
  }
  .lingkaran_arrow img{
    width: 3vw;
    height: 3vh;
    transform: rotate(-90deg);
    border-radius: 2px;
  }

  .footer-container{

    border-top: 2px solid black;
    display: flex;
    box-sizing: border-box;

    background-color: white;
    min-height: 200px;

    left: 0;
    right: 0;
    margin-top: 30px;    

    font-family: 'Inter',sans-serif;
}

.footer-sub_container1{
    flex-grow: 0;
    flex-basis: 40%;
    

    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-element1{
    
    min-width: 200px;

    margin-left: 10px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;

    text-align: end;
}
.FE_footer{
    font-size: 30px;
}
.FE_content_footer{
    font-size: 17px;
}

.footer-sub_container2{
    margin-top: 20px;
    flex-grow: 0;
    flex-basis: 20%;
    

    display: flex;
    justify-content: center;
}

.footer-element2{
    
    min-width: 150px;

    margin-left: 10px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.kantor_pusat_footer{
    font-size: 15px;
    margin-top: 10px;
}

.footer-sub_container3{
    margin-top: 20px;
    flex-grow: 0;
    flex-basis: 20%;
    

    display: flex;
    justify-content: center;
}

.footer-element3{
    
    min-width: 150px;

    margin-left: 10px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.footer-sub_container4{
    margin-top: 20px;
    flex-grow: 0;
    flex-basis: 20%;
    

    display: flex;
    justify-content: center;
}

.footer-element4{
    
    min-width: 150px;

    margin-left: 10px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.bold_element{
    font-weight: 1000;
}
  
/* Responsive */
@media (max-width: 800px) {

    .gone{
        display: none;
    }

    .container-header{
        background-color: white;
        flex-direction: column;
        height: 11vh;

    }

    .header-sub_container1{
        flex-grow: 0;
        font-size: 20px;
        display: flex;

        text-align: left;
    
        font-family: 'Inter',sans-serif;
        
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        margin-left: 0px;
        margin-right: 0px;

        left: 0px;
        right: 0px;
    
        flex-grow: 0;
        flex-basis: 39%;

        border-bottom: 1px solid black;
    }

    .header-sub_container2 div{
        flex-grow: 0;
        display: flex;
        
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        
        flex-basis: 25%;
        margin-right: 1px;

        justify-content: center;
    }

    .your-cart-header{
        border-left: 1px solid black;
        border-right: 1px solid black;
        height: 4vh;
    }

    .news-header{
        border-right: 1px solid black;
        height: 4vh
    }

    .account-header{
        border: 1px solid transparent;
    }
    .header-sub_container2 img[alt="download app"]{
        
    
        max-width: 80px;
        max-height: 30px;
        
    }
    
    .header-sub_container2 img[alt="cart"]{
        
    
        max-width: 65px;
        max-height: 30px;
    
    }
    
    .header-sub_container2 img[alt="news"]{
        
    
        max-width: 50px;
        max-height: 30px;

    
    }
    
    .header-sub_container2 img[alt="account"]{
        
    
        max-width: 50px;
        max-height: 30px;
    
    }

    .place_time-container{
        margin-top: 10vh;
    }

    .loginPop{
        right: 2%;
        width: 50vw;
        height: 30vh;
        
    }
    .loginPop span{
        font-size: 2.5vw;
    }

    .lokasi_content{
        font-size: 10px;
    }
    img[alt="dropdown"]{
        width: 2vw;
        margin-left: 5px;
    }

    .lunch,.dinner{
        flex-basis: 100%;
        margin: 0px;
    }
    .lunch{
        margin-right: 0.5vw;
    }
    .dinner{
        margin-left: 0.5vw;
    }
    .button_lunch,.button_dinner{
        flex-basis: 100%;
        font-size: 10px;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }


    .place_time-container{
        top: 80px;
        height: 200px;
    }

    .centerize,.centerize1{
        min-width: 95vw;
    }

    .centerize{
        justify-content: center;
    }

    .centerize1{
        flex-direction: row;
    }

    .lokasi{
        margin-top: 5px;
    }

    .tanggal,.tanggal1 {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;

        margin-left: 5px;
        margin-right: 5px;
        
        justify-content: center;
    }

    .tanggal_content {
        border: 1px solid black;
        margin: 5px;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        flex-basis: 100%;
    }
    img[alt="drop down point right"]{
        margin-bottom: 5px;
        min-width: 2vw;
    }


    .banner-img{
        flex-basis: 70%;
    }
    .banner-title{
        flex-basis: 30%;
    }
    .center1,.center2{
        width: 95vw;
    }
    .center1{
        flex-direction: column-reverse;
    }
    .helper{
        flex-basis: 20%;
        align-items: center;
    }
    .banner-title{
        text-align: center;
        font-size: 2vw;
        margin: 0px;
    }
    .banner-img{
        flex-basis: 80%;
    }
    img[alt="ojol gendut"]{
        height: 40vh;
    }

    .center2{
        flex-direction: column;
    }
    .sub_contaienr-right{
        flex-direction: row;
    }

    .gambar-makanan{
        flex-basis: 90%;
    }
    .info-makanan{
        flex-basis: 10%;
    }
    .sisi_kanan{
        line-height: 0.8;
        margin-left: 15px;
    }
    .sisi_kiri{
        margin-right: 15px;
    }
    .atas{
        font-size: 1.5vw;
    }
    .bawah{
        font-size: 1vw;
    }

    .further{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .further_sub-container{
        border-radius: 15px;
        width: 13vw;
    }

    .helper1{
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .title-chef{
        font-size: 4vw;
    }
    .footer-container{
        
        flex-direction: column;
        justify-content: center;

        min-height: 300px;
    }
    .footer-sub_container1{
        margin: 0px;
        flex-basis: 25%;
        justify-content: center;
    }
    .footer-element1{
        margin: 0px;
        text-align: center;
    }

    .FE_footer{
        font-size: 22px;
    }
    .FeastEase-footer{
        font-size: 3.2vw;
    }
    .FE_content_footer{
        font-size: 12px;
    }

    .footer-sub_container2{
        margin: 0px;
        flex-basis: 25%;
        justify-content: center;
    }
    .footer-element2{
        margin: 0px;
        text-align: center;
        
    }
    .kantor_pusat_footer{
        font-size: 12px;
    }

    .footer-sub_container3{
        margin: 0px;
        flex-basis: 25%;
        justify-content: center;
    }
    .footer-element3{
        margin: 0px;
        text-align: center;
    }

    .footer-sub_container4{
        margin: 0px;
        flex-basis: 25%;
        justify-content: center;
    }
    .footer-element4{
        margin: 0px;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .place_time-container{
        
        height: auto;
        min-height: 20vh;
    }
    .tanggal_content{
        margin-left: 15px;
        margin-right: 15px;
    }
    .helper_container {
        font-size: 10px;
    }

    .bawah{
        font-size: 1.2vw;
    }
    .lihat_Menu_lainnya{
        font-size: 2vw;
    }
      
}

@media (max-width: 700px) {
    .tanggal_content{
        margin-left: 10px;
        margin-right: 10px;
    }

    .center1,.center2{
        width: 100vw;
    }

    .helper{
        flex-basis: 20%;
        align-items: center;
    }
    .banner-title{
        margin-top: 20px;
        text-align: center;
        font-size: 4vw;
        margin: 0px;
    }
    .banner-img{
        flex-basis: 80%;
    }
    img[alt="ojol gendut"]{
        height: 30vh;
    }

    .menu-content{
        flex-basis: 33.33%;
    }

    .atas{
        font-size: 2vw;
    }
    .bawah{
        font-size: 1.9;
    }
    .further_sub-container{
        width: 19vw;
        height: 10vh;
    }
}
